name: Display Image File

on:
  push:
    branches: [ main ]

jobs:
  show-image:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: List files in repo
        run: ls -l
